 @font-face { 
    font-family: 'maimaDetalles';
    src: url(../fonts/SelfModern-Light.ttf)
 }

 @font-face {
    font-family: 'maima';
    src: url(../fonts/RocGrotesk-Light.ttf);
 }


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header img {
    width: 20ex;    
}

.navbar-brand {
    margin-left: 50%;
    transform: translate(-50%);
}

.navbar-brand img {
    display: block;
    margin: auto;
}

header {
    background-color: #F3F3EF;
    font-family: 'maima';
    position: sticky;
    top: 0px;
}

nav a {
    color: #877272; 
    text-decoration: none;
    
}

header nav {
    
    font-size: 0.8vw;
    letter-spacing: 0.1rem;
    font-weight: bold;
    
}




/* index - banner */
.banner { 
    background-image: url(../media/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'maima';
    margin-top: 10px;
    padding: 140px 0px;
    
}

/* cambiar letra del título */
.banner h1 {
    text-align: center;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.6);
    font-size: 3rem;
    margin-left: 5%;
    margin-top: 2%;
}

/* index - general */
.general {
    text-align: center;
    font-family: 'maima';
    color: black;
    font-size: 1.5rem;
    margin: 0px auto;
    margin: 50px;
}

.productos {
    display: flex;
    justify-content: space-evenly;
}

.general img {
    width: 25ex;
}


.general p {
    font-size: 1rem;
}

/* index - dondeEstamos */
.dondeEstamos {
    text-align: center;
    font-family: 'maima';
    color: black;
    font-size: 1.5rem;
    margin: 0px auto;
    margin: 50px;
}

.general p {
    font-size: 1rem;
}

/* index - nosotras */
.nosotras img {
    width: 50%;
}

.nosotras {
    text-align: right;
    font-family: 'maima';
    color: black;
    font-size: 1.5rem;
    display: grid;
    grid-template-areas: 
    "img ."
    "img title"
    "img text";

    grid-template-columns: 40% 50%;
    grid-template-rows: 30px 60px 500px;
}

.nosotras h2 {
    grid-area: title;
    text-align: left;
}


.nosotras div {
    text-align: right;
    grid-area: img;
}

.nosotras p {
    font-size: 1rem;
    grid-area: text;
    text-align: justify;
}


/* index - newsletter */
.newsletter {
    text-align: left;
    font-family: 'maima';
    color: black;
    font-size: 1.5rem;
    background-color: #fcd8c1;
    padding: 10px 10px 40px 15px;

}

.newsletter img {
    width: 25ex;
}

.newsletter p {
    font-size: 1rem;
}

.newsletter form {
    font-size: 1rem;
    font-family: 'maimaDetalles';
    text-align: center;
}

.grillaNewsletter { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* contacto */
.contactForm {
    text-align: left;
    font-family: 'maima';
    color: black;
    font-size: 1.5rem;
    background-color: #fcd8c1;
    padding: 15px 15px 20px 15px;
}

.contactForm p {
    font-size: 1rem;
}

.contactForm form {
    font-size: 1rem;
    font-family: 'maimaDetalles';
    text-align: center;
}

/* nosotros */
.title {
    text-align: left;
    margin: 20px;
}

.gridNosotras img {
    width: 100%;
}

.gridNosotras {
    padding: 5px;
    text-align: center;
    font-family: 'maima';
    color: black;
    font-size: 1.5rem;
    display: grid;
    grid-template-areas: 
    "img1 text1 img2"
    "img1 img5 text3"
    "text2 img5 text3"
    "img3 text4 img4";

    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 270px 175px 132px 410px;
}


.grid-img {
    text-align: center;
    grid-area: img1;
}

.grid-text {
    font-size: 0.90rem;
    grid-area: text1;
    text-align: justify;
    padding: 5px;
}

.grid-img2 {
    text-align: center;
    grid-area: img2;
}

.grid-text2 {
    font-size: 0.90rem;
    grid-area: text2;
    text-align: justify;
    padding: 5px;
}

.grid-img3 {
    text-align: center;
    grid-area: img3;
}

.grid-text3 {
    font-size: 0.90rem;
    grid-area: text3;
    text-align: justify;
    padding: 5px;
}

.grid-img4 {
    text-align: center;
    grid-area: img4;
}

.grid-text4 {
    font-size: 0.90rem;
    grid-area: text4;
    text-align: justify;
    padding: 5px;
}

.grid-img5 {
    text-align: center;
    grid-area: img5;
    padding-top: 5px;
}
/* servicios */
.servicios {
    display: flex;
    justify-content: center;
}
.size {
    width: 34.5%;
    
}

.carousel-color {
    color: #877272;
    background-color: #fcd8c1;
}

/* productos */
.pageProductos {
    text-align: center;
    font-family: 'maima';
    color: black;
    font-size: 1.5rem;
    margin: 0px auto;
    margin: 50px;
}

.pageProductos h6 {
    font-weight: bold;
}

.pageProductos img {
    width: 15vw;
}


.pageProductos p {
    font-size: 1rem;
}


/* footer */
footer img {
    width: 3ex;
    display: block;
    margin: auto;
}

footer {
    background-color: #F3F3EF;
    font-family: 'maima';
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.socialMedia { 
    display: flex;
    margin-top: 4px; 
    padding: 5px;
}

.socialMedia img {
    margin: 3px;
}

.copy {
    font-family: 'maima';
    font-size: 70%;  
    text-align: right;
}


/* mobile devices */
@media only screen and (max-width: 500px) {

    /* header */
    header nav {
    
        font-size: 2.5vw;
        text-align: right;
        
    }

    header img {
        width: 15ex;    
    }

    .navbar-brand {
        margin-left: 20%;
        transform: translate(-50%);
    }
    

    header p {
        font-size: 4vw;
        width: 100%;
        text-align: center;
    }

    /* index - banner */
    .banner {
        padding: 100px 0px; 
    }
    
    .banner h1 { 
        font-size: 1.5rem;
        margin-left: 0;
    }

    /* index - general */
    .general h2 {
        font-size: 1.5rem;
        padding-bottom: 15px;
    }

    .general h6 {
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
    }

    .general p {
        font-size: 0.75rem;
        margin-bottom: 20px;
    }

    .general img {
        width: 15ex;
    }
    .productos {
        flex-direction: column;
    }

    /* index - dondeEstamos */
    .dondeEstamos h2 { 
        font-size: 1.5rem;
    }

    .dondeEstamos iframe {
        width: 100%;
    }

    /*index - nosotras*/
    .nosotras {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .nosotras h2 {
        font-size: 1.5rem;
    }

    .nosotras p {
        font-size: 3vw;
        padding: 15px;
    }

    .nosotras div {
        text-align: center;
    }

    /*index - newsletter*/
    .newsletter h3 {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .newsletter p {
        display: none;
    }

    /* nosotros */
.title {
    text-align: center;
    margin: 3vw;
}

.gridNosotras img {
    width: 100%;
}

.gridNosotras {
    padding: 0px;
    margin: 0 8vw;
    font-size: 3vw;
    display: grid;
    grid-template-areas: 
    "img1"
    "text1"
    "img3"
    "text2"
    "img2"
    "text3"
    "img4"
    "text4";

    grid-template-columns: 100%;
    grid-template-rows: 62vw 32vw 47vw 25vw 38vw 65vw 56vw 32vw;
}

.grid-text {
    font-size: 2.5vw;
    padding: 0.9vw;
}

.grid-text2 {
    font-size: 2.5vw;
    padding: 0.9vw;
}

.grid-text3 {
    font-size: 2.5vw;
    padding: 0.9vw;
}

.grid-text4 {
    font-size: 2.5vw;
    padding: 0.9vw;
}

.grid-img5 {
    display: none;
}

/* servicios */
.size {
    width: 60%;
    
}

/* productos */
.pageProductos img {
    width: 40vw;
}
} 

/* !!en proceso!! */
@media only screen and (min-width: 500px) and (max-width: 992px) {
    header nav {
    
        font-size: 1.5vw;
        text-align: right;
        
    }

    .pageProductos img {
        width: 30vw;
    }
}
