@font-face {
  font-family: "maimaDetalles";
  src: url(../fonts/SelfModern-Light.ttf);
}
@font-face {
  font-family: "maima";
  src: url(../fonts/RocGrotesk-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
header {
  background-color: #F3F3EF;
  font-family: "maima";
  position: sticky;
  top: 0px;
  z-index: 999;
}
header nav {
  font-size: 0.8vw;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
header nav a {
  color: #877272;
  text-decoration: none;
}
header nav .barraNavegacion .contenedor {
  padding-right: 0.5px;
}
header nav .barraNavegacion .contenedor .miUl li a {
  padding: 0.5vw;
}
header nav .barraNavegacion .contenedor .miUl .ultimoLi a {
  padding-right: 0px;
}
header img {
  width: 20ex;
}

/* navbar */
.navbar-brand {
  margin-left: 50%;
  transform: translate(-50%);
}
.navbar-brand img {
  display: block;
  margin: auto;
}

/* index */
.banner {
  background-image: url(../media/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "maima";
  margin-top: 10px;
  padding: 140px 0px;
}
.banner h1 {
  text-align: center;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  font-size: 3rem;
  margin-left: 5%;
  margin-top: 2%;
}

.general {
  text-align: center;
  font-family: "maima";
  color: black;
  font-size: 1.5rem;
  margin: 50px auto;
}
.general h2:hover {
  color: #fcd8c1;
  text-decoration: underline;
  transition: 0.5s;
}
.general .productos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.general .productos .gomero:hover {
  filter: grayscale(80%);
}
.general .productos .maceta:hover {
  filter: grayscale(80%);
}
.general .productos .monstera:hover {
  filter: grayscale(80%);
}
.general img {
  width: 20vw;
}
.general h3 {
  font-size: 1.5vw;
}
.general p {
  font-size: 1rem;
}

.dondeEstamos {
  text-align: center;
  font-family: "maima";
  color: black;
  font-size: 1.5rem;
  margin: 0px auto;
  margin: 50px;
}
.dondeEstamos h2:hover {
  color: #fcd8c1;
  text-decoration: underline;
  transition: 0.5s;
}

.nosotras {
  text-align: right;
  font-family: "maima";
  color: black;
  font-size: 1.5rem;
  display: grid;
  grid-template-areas: "img ." "img title" "img text";
  grid-template-columns: 40% 50%;
  grid-template-rows: 30px 60px 30vw;
}
.nosotras img {
  width: 50%;
}
.nosotras h2 {
  grid-area: title;
  text-align: left;
}
.nosotras h2:hover {
  color: #fcd8c1;
  text-decoration: underline;
  transition: 0.5s;
}
.nosotras div {
  text-align: right;
  grid-area: img;
}
.nosotras p {
  font-size: 1.1vw;
  grid-area: text;
  text-align: justify;
}

.newsletter {
  text-align: left;
  font-family: "maima";
  color: black;
  font-size: 1.5rem;
  background-image: linear-gradient(to bottom, #fcd8c1, #F3F3EF);
  padding: 10px 10px 40px 15px;
}
.newsletter img {
  width: 25ex;
}
.newsletter .grillaNewsletter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.newsletter .grillaNewsletter p {
  font-size: 1rem;
}
.newsletter .grillaNewsletter form {
  font-size: 1rem;
  font-family: "maima";
  text-align: center;
}
.newsletter .grillaNewsletter form .button:focus {
  border: #fcd8c1 5px dotted;
}

/*contacto*/
.contactForm {
  text-align: left;
  font-family: "maima";
  color: black;
  font-size: 1.5rem;
  background-image: radial-gradient(#fcd8c1, #F3F3EF);
  padding: 15px 15px 20px 15px;
  min-height: 72vh;
}
.contactForm h1 {
  font-size: 2rem;
}
.contactForm p {
  font-size: 1rem;
}
.contactForm form {
  font-size: 1rem;
  font-family: "maima";
  text-align: center;
}
.contactForm form .button:focus {
  border: #fcd8c1 5px dotted;
}
.contactForm form .button {
  margin-top: 7px;
}
.contactForm form .message {
  margin-top: 10px;
}

/*nosotros*/
.title {
  text-align: left;
  font-size: "maima";
  color: black;
  font-size: 2rem;
  margin: 20px;
  animation-iteration-count: 5;
  animation-duration: 2s;
}

.gridNosotras {
  padding: 5px;
  text-align: center;
  font-family: "maima";
  color: black;
  font-size: 1.5rem;
  display: grid;
  grid-template-areas: "img1 text1 img2" "img1 img5 text3" "text2 img5 text3" "img3 text4 img4";
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 18vw 11.6vw 8.3vw 27vw;
}
.gridNosotras img {
  width: 100%;
}
.gridNosotras .grid-img {
  text-align: center;
  grid-area: img1;
}
.gridNosotras .grid-text, .gridNosotras .grid-text4, .gridNosotras .grid-text3, .gridNosotras .grid-text2 {
  font-size: 0.93vw;
  grid-area: text1;
  text-align: justify;
  padding: 0.28vw;
}
.gridNosotras .grid-img2 {
  text-align: center;
  grid-area: img2;
}
.gridNosotras .grid-text2 {
  grid-area: text2;
}
.gridNosotras .grid-img3 {
  text-align: center;
  grid-area: img3;
}
.gridNosotras .grid-text3 {
  grid-area: text3;
  padding-top: 0.35vw;
}
.gridNosotras .grid-img4 {
  text-align: center;
  grid-area: img4;
}
.gridNosotras .grid-text4 {
  grid-area: text4;
}
.gridNosotras .grid-img5 {
  text-align: center;
  grid-area: img5;
}
.gridNosotras p {
  margin: 0px;
}

/*servicios*/
.titleServicios {
  text-align: center;
  font-family: "maima";
  color: black;
  font-size: 2rem;
  padding-top: 35px;
  padding-bottom: 10px;
}

.servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
.servicios .size {
  width: 34.5%;
}
.servicios .size .carousel-color {
  color: #877272;
  background-color: #fcd8c1;
}

/*productos*/
.titleProductos {
  text-align: center;
  font-family: "maima";
  color: black;
  font-size: 2rem;
  padding-top: 35px;
  padding-bottom: 10px;
}

.pageProductos {
  text-align: center;
  font-family: "maima";
  color: black;
  font-size: 1.5rem;
  margin-top: 20px;
  min-height: 67vh;
}
.pageProductos h6 {
  font-weight: bold;
}
.pageProductos img {
  width: 15vw;
}
.pageProductos p {
  font-size: 1rem;
}

/*footer*/
footer {
  background-color: #F3F3EF;
  font-family: "maima";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
footer .socialMedia {
  display: flex;
  margin-top: 4px;
  padding: 5px;
}
footer .socialMedia img {
  width: 3ex;
  display: block;
  margin: auto;
  margin: 3px;
}
footer .copy {
  font-family: "maima";
  font-size: 70%;
  text-align: right;
}

/* mobile devices */
@media only screen and (max-width: 500px) {
  header nav {
    font-size: 2.5vw;
    text-align: right;
  }
  header img {
    width: 30vw;
  }
  header p {
    font-size: 4vw;
    width: 100%;
    text-align: center;
  }
  .navbar-brand {
    margin-left: 20%;
    transform: translate(-50%);
  }
  /*index*/
  .banner {
    padding: 100px 0px;
  }
  .banner h1 {
    font-size: 1.5rem;
    margin-left: 0;
  }
  .general h2 {
    font-size: 1.5rem;
    padding-bottom: 15px;
  }
  .general h3 {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
  }
  .general p {
    font-size: 0.75rem;
    margin-bottom: 20px;
  }
  .general img {
    width: 15ex;
  }
  .general .productos {
    flex-direction: column;
  }
  .dondeEstamos h2 {
    font-size: 1.5rem;
  }
  .dondeEstamos iframe {
    width: 100%;
  }
  .nosotras {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  .nosotras h2 {
    font-size: 1.5rem;
  }
  .nosotras p {
    font-size: 3vw;
    padding: 15px;
  }
  .nosotras div {
    text-align: center;
  }
  .nosotras .newsletter h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .nosotras .newsletter p {
    display: none;
  }
  /*nosotros*/
  .title {
    text-align: center;
    margin: 3vw;
  }
  .gridNosotras {
    padding: 0px;
    margin: 0 8vw;
    font-size: 3vw;
    display: grid;
    grid-template-areas: "img1" "text1" "img3" "text2" "img2" "text3" "img4" "text4";
    grid-template-columns: 100%;
    grid-template-rows: 62vw 32vw 47vw 25vw 38vw 65vw 56vw 32vw;
  }
  .gridNosotras img {
    width: 100%;
  }
  .gridNosotras .grid-text, .gridNosotras .grid-text2, .gridNosotras .grid-text3, .gridNosotras .grid-text4 {
    font-size: 2.5vw;
    padding: 0.9vw;
  }
  .gridNosotras .grid-text2 {
    font-size: 2.5vw;
    padding: 0.9vw;
  }
  .gridNosotras .grid-text3 {
    font-size: 2.5vw;
    padding: 0.9vw;
  }
  .gridNosotras .grid-text4 {
    font-size: 2.5vw;
    padding: 0.9vw;
  }
  .gridNosotras .grid-img5 {
    display: none;
  }
  /*servicios*/
  .servicios .size {
    width: 100%;
  }
  /*productos*/
  .pageProductos img {
    width: 40vw;
  }
}
/* !!en proceso!! */
@media only screen and (min-width: 501px) and (max-width: 992px) {
  header nav {
    font-size: 1.5vw;
    text-align: right;
  }
  header img {
    width: 25vw;
  }
  header p {
    font-size: 4vw;
    width: 100%;
    text-align: center;
  }
  .navbar-brand {
    margin-left: 20%;
    transform: translate(-50%);
  }
  .pageProductos img {
    width: 30vw;
  }
  /*index*/
  .banner {
    padding: 100px 0px;
  }
  .banner h1 {
    font-size: 1.5rem;
    margin-left: 0;
  }
  .general {
    text-align: center;
    font-family: "maima";
    color: black;
    font-size: 1.5rem;
    margin: 50px auto;
  }
  .general h2 {
    font-size: 3vw;
  }
  .general h2:hover {
    color: #fcd8c1;
    text-decoration: underline;
    transition: 0.5s;
  }
  .general .productos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .general .productos .gomero:hover {
    filter: grayscale(80%);
  }
  .general .productos .maceta:hover {
    filter: grayscale(80%);
  }
  .general .productos .monstera:hover {
    filter: grayscale(80%);
  }
  .general img {
    width: 20vw;
  }
  .general h3 {
    font-size: 2vw;
  }
  .general p {
    font-size: 1.5vw;
  }
  .dondeEstamos h2 {
    font-size: 3vw;
  }
  .dondeEstamos iframe {
    width: 100%;
  }
  .nosotras {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  .nosotras h2 {
    font-size: 3vw;
  }
  .nosotras p {
    font-size: 2vw;
    padding: 15px;
  }
  .nosotras div {
    text-align: center;
  }
  .nosotras .newsletter h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .nosotras .newsletter p {
    display: none;
  }
  /*servicios*/
  .servicios .size {
    width: 100%;
  }
  /*nosotros*/
  .title {
    text-align: center;
    margin: 3vw;
  }
  .gridNosotras {
    padding: 0px;
    margin: 0.8vw;
    font-size: 3vw;
    display: grid;
    grid-template-areas: "img1" "text1" "img3" "text2" "img2" "text3" "img4" "text4";
    grid-template-columns: 100%;
    grid-template-rows: 72vw 17vw 55vw 14vw 44vw 37vw 65vw 23vw;
  }
  .gridNosotras img {
    width: 100%;
  }
  .gridNosotras .grid-text, .gridNosotras .grid-text2, .gridNosotras .grid-text3, .gridNosotras .grid-text4 {
    font-size: 2vw;
    padding: 0.9vw;
  }
  .gridNosotras .grid-img5 {
    display: none;
  }
}

/*# sourceMappingURL=stylesass.css.map */
