/*contacto*/
.contactForm {
    text-align: left;
    font-family: 'maima';
    color: black;
    font-size: 1.5rem;
    background-image: radial-gradient($rosado,$casiBlanco);

    padding: 15px 15px 20px 15px;
    min-height: 72vh;
    p {
        font-size: 1rem;
    
    }
    form {
        font-size: 1rem;
        font-family: 'maimaDetalles';
        text-align: center;
        .button:focus {
            border: $rosado 5px dotted;
        }
    }
}