/* !!en proceso!! */
@media only screen and (min-width: 501px) and (max-width: 992px) {
    header {
        nav {
    
            font-size: 1.5vw;
            text-align: right;
            
        }
    }
    .pageProductos {
        img {
            width: 30vw;
        }
    }

}